In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import csv
import pandas as pd
from time import sleep

In [2]:
br = webdriver.Edge()

fields = ['上場廃止日',	'銘柄 コード',	'銘柄名',	'理由',	'売買最終日']

df = []

br.get('https://kabu.com/investment/meigara/jyoujyou_haisi.html')

sleep(1)
tb = br.find_element(By.XPATH, './/*[@id="main"]/table')
sleep(1)

rows = tb.find_elements(By.XPATH, ".//tbody/tr")
for row in range(1,len(rows)+1):
        temp = {}
        for col in range(1,6):
            value = tb.find_element(By.XPATH, f".//tbody/tr[{row}]/td[{col}]").text
            temp[fields[col-1]] = value

        df.append(temp)

br.close()

In [3]:
pd.DataFrame(df)

           上場廃止日 銘柄 コード       銘柄名    理由       売買最終日
0     2023/06/29   6172     メタップス  上場廃止  2023/06/28
1     2023/06/12   5999  イハラサイエンス  上場廃止  2023/06/09
2     2023/06/11   1467    Ｊ４００ブル  上場廃止  2023/06/09
3     2023/06/11   1468    Ｊ４００ベア  上場廃止  2023/06/09
4     2023/06/09   6924       岩崎電  上場廃止  2023/06/08
...          ...    ...       ...   ...         ...
1436  2002/07/26   4232    東芝ケミカル    交換  2002/07/25
1437  2002/07/26   7492      タイカン    合併  2002/07/25
1438  2002/07/17   8172    第一家庭電器  上場廃止  2002/07/16
1439  2002/07/12   9309      京神倉庫  上場廃止  2002/07/11
1440  2002/07/10   7424     ニコニコ堂  上場廃止  2002/07/09

[1441 rows x 5 columns]

In [4]:
filename = "Delisting2Company.csv"

with open(filename, 'w', encoding= 'utf-8', newline= '') as csvfile:
    writer = csv.DictWriter(csvfile, fields,lineterminator = '\r')
    writer.writeheader()
    writer.writerows(df)