In [26]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import csv
import pandas as pd
from time import sleep

In [27]:
br = webdriver.Edge()

fields = ['上場廃止日',	'銘柄名',	'コード',	'市場区分',	'上場廃止理由']

df = []

br.get('https://www.jpx.co.jp/listing/stocks/delisted/index.html')

tb = br.find_element(By.XPATH, './/*[@id="readArea"]/div[3]/div[1]/table')

rows = tb.find_elements(By.XPATH, ".//tbody/tr")
for row in range(1,len(rows)+1):
        temp = {}
        for col in range(1,6):
            value = tb.find_element(By.XPATH, f".//tbody/tr[{row}]/td[{col}]").text
            temp[fields[col-1]] = value

        df.append(temp)

for i in range(1,10):
    br.get('https://www.jpx.co.jp/listing/stocks/delisted/archives-0'+str(i)+'.html')

    sleep(1)
    tb = br.find_element(By.XPATH, './/*[@id="readArea"]/div[3]/div[1]/table')
    sleep(1)
    rows = tb.find_elements(By.XPATH, ".//tbody/tr")
    for row in range(1,len(rows)+1):
            temp = {}
            for col in range(1,6):
                value = tb.find_element(By.XPATH, f".//tbody/tr[{row}]/td[{col}]").text
                value = value.replace('\n', '')
                temp[fields[col-1]] = value

            df.append(temp)

br.close()

In [28]:
pd.DataFrame(df)

          上場廃止日              銘柄名   コード      市場区分               上場廃止理由
0    2023/06/29            メタップス  6172      グロース                株式の併合
1    2023/06/12         イハラサイエンス  5999    スタンダード                株式の併合
2    2023/06/09             岩崎電気  6924      プライム                株式の併合
3    2023/06/05  ＷＯＷ　ＷＯＲＬＤ　ＧＲＯＵＰ  5128      プライム                株式の併合
4    2023/05/30             長野銀行  8521    スタンダード         八十二銀行の完全子会社化
..          ...              ...   ...       ...                  ...
563  2014/02/26           日立メディコ  6910       第一部         日立製作所の完全子会社化
564  2014/02/25   トータル・メディカルサービス  3163  JQスタンダード              株式の全部取得
565  2014/02/13    メディサイエンスプラニング  2182  JQスタンダード         エムスリーの完全子会社化
566  2014/01/29             ウエスコ  9648       第二部  ウエスコホールディングスの完全子会社化
567  2014/01/27            ワイズマン  3752  JQスタンダード              株式の全部取得

[568 rows x 5 columns]

In [29]:
df[12]

{'上場廃止日': '2023/03/30',
 '銘柄名': 'ナレッジスイート',
 'コード': '3999',
 '市場区分': 'グロース',
 '上場廃止理由': 'ＢＢＤイニシアティブの完全子会社化'}

In [30]:
filename = "Delisting1Company.csv"

with open(filename, 'w', encoding= 'utf-8', newline= '') as csvfile:
    writer = csv.DictWriter(csvfile, fields,lineterminator = '\r')
    writer.writeheader()
    writer.writerows(df)